.loader{
	background: rgba(255, 255, 255, 0.85);
	position: absolute;
	
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}
.loader > img{
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	width: 50px;
	height: 50px;
	
	-webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.btn{
	display: inline-block;
	margin-bottom: 0;
	padding: 15px;
	color: #ffffff;
	background-color: #13A2EF;
	cursor: pointer;
	font-family : 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	font-size: 1em;
	text-transform: capitalize;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.btn:hover{
	background-color: #27AEF7;
}
.btn:active{
	background-color: #048ED8;
}
.btn > span.fa{
	margin-right: 10px;
}

.w-overlay{
	position: fixed;
	z-index: 9998;
	
	width: 100%;
	height: 100%;
	
	top: 0;
	left: 0;
	
	background-color: rgba(255,255,255, .85);
}
.window{
	position: fixed;
	/*z-index: 9999;*/
	
	border: 1px solid #A6ADC3;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: .9em;
	
	/*
	top: 50%;
	left: 50%;
	
	-webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    */
	
	-moz-box-shadow: 4px 4px 8px -4px #A6ADC3;
	-webkit-box-shadow: 4px 4px 8px -4px #A6ADC3;
	-o-box-shadow: 4px 4px 8px -4px #A6ADC3;
	box-shadow: 4px 4px 8px -4px #A6ADC3;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#A6ADC3, Direction=134, Strength=8);
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
	background-color: #ffffff;
}
.w-title{
	height: 50px;
	line-height: 50px;
	padding: 0;
	border-bottom: 1px solid #A6ADC3;
	background-color: #F7F9FF; /*F4F7FF*/

	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
.w-title > span{
	font-weight: bold;
	color: #969CBA;
	display: inline-block;
	width: 580px;
	padding-left: 20px;
	cursor: default;
}
.w-controls > i{
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	padding: 13px 5px;
	float: right;
	cursor: pointer;
	color: #969CBA;
	font-size: 1.7em;
	font-style: normal;
}
.w-controls> i:first-child{
	-moz-border-radius: 0 4px 0 0;
	-webkit-border-radius: 0 4px 0 0;
	border-radius: 0 4px 0 0;
	padding-right: 10px;
}
.w-controls > i.red:hover{
	color: #E55252;
}
.w-controls > i.blue:hover{
	color: #52A8E5;
}
.w-controls > i.orange:hover{
	color: #E5BE52;
}

.w-controls{
	float: right;
	width: 100px;
}
.w-content{
	color: #5C657C;
	max-height: 100%;
	overflow: auto;
	padding: 15px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}